// V A R I A B L E S //

// colors
$white: #FFFFFF;
$black: #000000;
$instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
$github: #c0c0c0;
$youtube: #ff0000;
$discord: #7289d9;

// transitions
$fade_hover_default: .3s;
$fade_hover_download: .2s;